body {
    font-family: Lato, sans-serif;
}

.uri-navbar {
    text-align: center;
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-nav .navbar-item a{
    color: #fff;
}
.navbar-nav .navbar-item {
    color: #fff;
}
